@import "../../styles/variables.scss";
.footer {
  width: 100%;
  height: 190px;
  margin-top: 169px;
  grid-column: 1/13;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  background: black;

  @media (max-width: 900px) {
    height: 264px;
  }

  @media (max-width: 1024px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: 700px) {
    padding-top: 25px;
  }

  @media (max-width: 482px) {
    margin-top: 0px;
  }

  .footer__navigation {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 24px;
    @media (max-width: 900px) {
      height: 72px;
    }

    @media (max-width: 700px) {
      height: 85px;
      display: block;
    }

    .footer__nav {
      width: 671px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 1184px) {
        width: 550px;
      }

      @media (max-width: 900px) {
        display: block;
        width: 450px;
      }

      @media (max-width: 768px) {
        width: 350px;
      }

      @media (max-width: 700px) {
        width: 100%;
      }

      .footer__logo {
        width: 135px;
        height: 24px;

        @media (max-width: 700px) {
          margin: 0 auto;
        }

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }

      .footer__feedback {
        width: 418px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 1184px) {
          width: 350px;
        }

        @media (max-width: 900px) {
          margin-top: 33px;
        }

        @media (max-width: 700px) {
          margin: 10px auto;
        }

        @media (max-width: 482px) {
          width: 100%;
        }

        li {
          font-size: 12px;
          line-height: 14.63px;
          color: $color-text;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    .footer__email {
      width: 306px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 700px) {
        margin-top: 10px;
        width: 100%;
      }

      @media (max-width: 480px) {
        display: block;
      }

      a {
        color: $color-text;
      }

      address:nth-child(1) {
        font-size: 20px;
        line-height: 24px;
        cursor: pointer;
        @media (max-width: 700px) {
          margin: 0 auto;
        }
      }

      address:nth-child(2) {
        font-size: 12px;
        line-height: 14px;
        cursor: pointer;
        @media (max-width: 700px) {
          margin: 0 auto;
        }
      }
    }
  }

  .footer__line {
    background-color: $color-text;
    height: 1px;
    margin-top: 38px;
    opacity: 0.3px;
  }

  .footer__confidential {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 15px;
    color: $color-text;
    font-size: 12px;
    @media (max-width: 768px) {
      display: block;
    }

    @media (max-width: 700px) {
      width: 100%;
    }

    .footer__info {
      width: 297px;
      @media (max-width: 700px) {
        margin: 25px auto;
      }
    }

    .footer__finish {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 510px;
      @media (max-width: 768px) {
        margin-top: 10px;
        width: 100%;
      }

      @media (max-width: 700px) {
        margin: 0 auto;
      }

      @media (max-width: 480px) {
        display: block;
      }
    }
  }
}
