@import "../../styles/variables.scss";
.popular {
  h1 {
    font-size: 80px;
    line-height: 90px;
    @media (max-width: 500px) {
      font-size: 40px;
      line-height: 45px;
    }
  }
  margin-top: 250px;

  @media (max-width: 768px) {
    margin-top: 340px;
  }

  @media (max-width: 500px) {
    margin-top: 250px;
  }

  @media (max-width: 360px) {
    margin-top: 66px;
  }

  color: $color-text;
  .popular__block {
    width: 100%;
    min-height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 670px) {
      justify-content: center;
      gap: 35px;
    }

    @media (max-width: 500px) {
      gap: 15px;
      margin-top: 35px;
    }

    .popular__item {
      margin-top: 37px;
      width: 233px;
      height: 447px;

      @media (max-width: 530px) {
        width: 190px;
        margin-top: 0;
      }

      @media (max-width: 430px) {
        width: 155px;
        height: 350px;
        cursor: pointer;
      }

      .popular__img {
        width: 233px;
        height: 233px;
        object-fit: cover;
        @media (max-width: 530px) {
          width: 100%;
          height: 190px;
        }

        @media (max-width: 450px) {
          height: 150px;
        }
      }

      h3 {
        font-size: 20px;
        line-height: 24.38px;
        text-align: left;
        margin-top: 16px;
        height: 45px;
        @media (max-width: 530px) {
          font-size: 14px;
        }
      }

      .popular__weight {
        margin-top: 10px;
        width: 47px;
        height: 20px;
        border-radius: 3px 0px 0px 0px;
        font-size: 13px;
        background-color: rgb(108, 105, 105);
        text-align: center;
        padding-top: 2px;
      }

      .popular__description {
        margin-top: 9px;
        width: 233px;
        height: 70px;
        font-size: 13px;
        line-height: 18px;
        text-align: left;

        @media (max-width: 530px) {
          display: none;
        }
      }
      .popular__order {
        height: 42px;
        margin-top: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 150px;

        .popular__basket {
          width: 42px;
          height: 42px;
          background-color: rgba(251, 209, 62, 1);
          padding-top: 7px;
          cursor: pointer;

          @media (max-width: 360px) {
            width: 39px;
            height: 39px;
          }
        }

        .popular__price {
          text-align: left;

          .popular__promotion {
            font-size: 23px;
          }
        }
      }
    }
  }
}
