@import "../../styles/variables.scss";
.formregister {
  margin-top: 150px;
  width: 100%;

  h1 {
    color: $color-text;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    @media (max-width: 840px) {
      font-size: 30px;
    }

    @media (max-width: 500px) {
      font-size: 20px;
    }
  }

  .formregister__home {
    width: 317px;
    font-size: 13px;
    line-height: 15.85px;
    text-align: left;
    margin: 15px auto;
    margin-bottom: 25px;
    @media (max-width: 500px) {
      width: 280px;
    }
    a {
      color: $color-text;
    }
  }

  .formregister__form {
    width: 400px;
    min-height: 400px;
    margin: 25px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 5px;

    @media (max-width: 500px) {
      width: 300px;
    }

    .formregister__error-message {
      span {
        color: red;
        font-size: 12px;
      }
    }

    .formregister__status {
      height: 12px;
      margin-top: 7px;
      width: 100%;
      text-align: center;
      font-size: 12px;
    }

    .MuiPopover-root {
      position: relative;
    }

    .MuiPaper-root {
      position: absolute;
      left: 0;
      right: 0;
    }

    .formregister__input {
      width: 320px;
      background-color: $color-text;
      @media (max-width: 500px) {
        width: 280px;
      }
    }

    .formregister__button {
      width: 320px;
      @media (max-width: 500px) {
        width: 280px;
      }
    }

    .formregister__input:hover {
      box-shadow: 0 0 15px 9px rgba(3, 142, 59, 0.5);
    }

    .formregister__social {
      width: 320px;
      margin-top: 7px;
      h2 {
        color: $color-text;
        text-align: center;
        font-size: 12px;
        margin-bottom: 5px;
        text-transform: uppercase;
      }
    }
  }
}
