@import "../../styles//variables.scss";

.error__container {
  width: 100%;
  height: auto;
  color: $color-text;
  padding: 20px;
  text-align: center;
  padding-top: 40px;

  h2 {
    font-size: 40px;
  }

  p {
    font-size: 15px;
  }
}
